<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.qnx.tools.ide.qde.ui.QDERemoteCoreLaunch">
    <booleanAttribute key="com.qnx.tools.ide.qde.core.LOAD_FROM_TARGET" value="true"/>
    <stringAttribute key="com.qnx.tools.ide.qde.core.REMOTE_COREFILE_PATH" value="/data/var/dumper/des_controller.core"/>
    <stringAttribute key="com.qnx.tools.ide.qde.core.TARGET_ATTR" value="192.168.56.101"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="C:\Users\gemmx\cst8244_assign1.ws\des_controller\build\x86_64-debug\des_controller"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="des_controller"/>
</launchConfiguration>
